@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:700|PT+Sans&display=swap');
body {
  width: 700px;
  margin:  0 auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Anonymous Pro', monospace;

}

.zero {
  font-size: 80px;
  width: 1440px;

}

p {
  font-family: 'PT Sans', sans-serif;

}
