@import "reset.css";

@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:700|PT+Sans&display=swap');

h1,
h2,
h3,
h4 {
  font-family: 'Anonymous Pro', monospace;
  margin: 19px 0;

}

p {
  font-family: 'PT Sans', sans-serif;
  margin 16px;

}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 16px;
}





.btn {
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: blue;
  text-align: center;
}

.btn ul {
  display: inline-block;
  text-align: center;
}

.btn ul li {
  display: inline-block;
  padding: 10px;
}

.btn ul li:first-child {
  margin-right: 100px;
}

.btn a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Anonymous Pro', monospace;
}

.btn a:hover {
  color: black;
}

.end {
  margin-top: 56px;
}
